@import "tailwindcss";

@layer base {
  :root {
    --color-primary: #0077B6; /* Medical blue */
    --color-secondary: #48CAE4; /* Light blue */
    --color-accent: #03045E; /* Dark blue */
    --color-light: #F8FAFC; /* Light background */
  }
}

@layer utilities {
  .text-primary {
    color: var(--color-primary);
  }

  .text-secondary {
    color: var(--color-secondary);
  }

  .text-accent {
    color: var(--color-accent);
  }

  .text-light {
    color: var(--color-light);
  }

  .bg-primary {
    background-color: var(--color-primary);
  }

  .bg-secondary {
    background-color: var(--color-secondary);
  }

  .bg-accent {
    background-color: var(--color-accent);
  }

  .bg-light {
    background-color: var(--color-light);
  }
}

@font-face {
  font-family: 'Mulish';
  src: url('/Mulish/Mulish-VariableFont_wght.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Mulish';
  src: url('/Mulish/Mulish-Italic-VariableFont_wght.ttf') format('truetype');
  font-weight: normal;
  font-style: italic;
}

body {
  font-family: 'Mulish', sans-serif;
}